// Fuentes
$mainfont: 'Montserrat', sans-serif;
$secondfont: 'Rubik', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$pad: 768px;
$desktop: 1024px;
$desktop-l: 1440px;

// Colores
$primario-400: #346EC6;
$primario-300: #5989D2;
$primario-200:#8FAFDF;

$texto: rgba(255, 255, 255, 0.5);
$tarjeta: rgba(255, 255, 255, 0.05);

$fondo:#171717;
$blanco: #f7f7f7;