.contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $tarjeta;
    border-radius: 2rem;
    margin: 7rem auto;

    @include pad {
        flex-direction: row;
        gap: 2rem;
    }

    img {
        border-radius: 1rem;
        object-fit: cover;

        @include pad {
            width: 40%;
        }
    }

}

.contact__form {
    margin-top: 4rem;

    @include pad {
        width: 60%;
        margin-top: 0;
    }

    h3 {
        @include pad {
            font-size: 5rem;
        }
        @include desktop {
            font-size: 6rem;
        }
    }
    p {
        margin-top: 1rem;

        @include pad {
            width: 70%;
        }
    }
}